.userBox{
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 5px;
  border-top: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
  align-items: center;
  justify-content: space-between;
}

.userLayout{
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.userLayout>.userInfo{
  display: flex;
  flex-direction: column;
  font-family: Lato;
  justify-content: center;
}

.userLayout>i{
  font-size: 40px;
  margin-right: 10px;
  color: #8baa8b;
}

.userLayout>.userInfo>p{
  font-weight: bold;
  margin-bottom: 2px;
  font-size: 16px;
}

.userLayout>div>small{
  font-size: 14px;
  color: gray;
}

.userPoint>p{
  margin-bottom: 0px;
  font-weight: bold;
  background-color: #eaeaea;
  color: gray;
  font-family: Lato;
  padding: 2px 6px;
  border-radius: 4px;
}

.sideList{
  margin-top: 10px;
}

.sideList div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 10px;
  margin-bottom: 0px;
  color: gray;
}

.sideList>div>p{
  margin-bottom: 0px;
}

.sideList>div>i{
  padding: 5px 7px;
  background-color: #da825b;
  color: white;
  border-radius: 10px;
  font-size: 12px;
}

.sideList div:hover{
  background-color: #fbfbfb;
  cursor: pointer;
  color: #525252;
  font-weight: bold;
}

.sideList div.select{
  background-color: #f0f0f0;
  color: #696969;
  font-weight: bold;
  border-right: 7px solid #9ab5b2;
}

.sideList>.select>p>i{
  opacity: 1;
  max-width: 100px;
  margin-right: 5px;
}

.sideList div>p>i{ 
  opacity: 0;
  max-width: 0px;

  transition: 0.2s linear;
}

.sideList>div:hover>p>i{
  opacity: 1;
  max-width: 100px;
  margin-right: 5px;
  transition: opacity 0.2s, margin-right 0.2s linear, max-width 0.8s linear;
}

.sideList>div>p>span{
  font-family: Lato;
  font-weight: bold;
  font-size: 12px;
  padding: 2px 7px;
  background-color: #8198a8;
  color: white;
  border-radius: 20px;
  margin-left: 5px;
}