<footer>
  <div class="container text-left">
    <div class="row">
      <div class="col-md-2">
        <h4 class="footer-title">Get started</h4>
        <ul class="footer-select">
          <li><a href="#">Home</a></li>
          <li><a href="#">Login</a></li>
          <li><a href="#">Sign up</a></li>
          <li><a href="#">About us</a></li>
        </ul>
      </div>

      <div class="col-md-2">
        <h4 class="footer-title">Support</h4>
        <ul class="footer-select">
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Help desk</a></li>
          <li><a href="#">Forum</a></li>
        </ul>
      </div>

      <div class="col-md-4">
        <h4 class="footer-title">Stay connected</h4>
        <div class="social">
          <i class="fab fa-facebook-f social_icon"></i>
          <i class="fab fa-twitter social_icon"></i>
          <i class="fab fa-google-plus-g social_icon"></i>
          <i class="fab fa-vimeo-v social_icon"></i>
        </div>
        <div class="form-news">
          <input type="text" placeholder="Subcribe for newsletter..." class="type_email">
          <button type="submit" class="btn_submit"><i class="fab fa-telegram-plane"></i> Subcribe</button>
        </div>   
      </div>

      <div class="col-md-4">
        <h4 class="footer-title">Store information</h4>
        <ul class="footer-select">
          <li>
            <p class="detail-info"><span class="bold-store-info"><i class="fas fa-map-marker-alt"></i></span> 224/3/1 Pham Van Chi, District 6, Ho Chi Minh City, Vietnam</p>
          </li>
          <li><p class="detail-info"><span class="bold-store-info"><i class="fas fa-phone"></i></span> 0948677872</p></li>
          <li><p class="detail-info"><span class="bold-store-info"><i class="fas fa-envelope"></i></span> kafkabookstore@gmail.com</p></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<div class="final-bar">
  <div class="container">
    <div class="copyright">
      <p>2018 All Rights Reserved By © Kafka Bookstore</p>
    </div>
  </div>
</div>
