<div class="col-md-3">
	<div class="userBox">
		<div class="userLayout">
			<i class="fas fa-user-circle"></i>
			<div class="userInfo">
				<p>Phu Nguyen</p>
				<small>Normal customer</small>
			</div>
		</div>
		<div class="userPoint">
			<p>0 pts</p>
		</div>
	</div>
	<div class="sideList">
		<div>
			<p><i class="fas fa-user-edit"></i> Account profile</p>
		</div>
		<div class="select">
			<p><i class="fas fa-box-open"></i> Manage orders</p>	
		</div>
		<div>
			<p><i class="fas fa-bell"></i> Notification</p>
			<i class="fas fa-exclamation"></i>
		</div>
		<div>
			<p><i class="fas fa-map-marker-alt"></i> Address book</p>
		</div>
		<div>
			<p><i class="far fa-eye"></i> Book viewed</p>
		</div>
		<div>
			<p><i class="fas fa-bible"></i> My K-care <span>14</span></p>
		</div>
	</div>
</div>