<h4 class="content-title"><i class="fas fa-list-ul cate-icon"></i> Order Detail</h4>
<form class="horizon">
	<input type="text" name="" placeholder="Type discount code here...">
	<button>Apply</button>
</form>
<div class="listNotional">
	<div class="notional">
		<p>Notional Price</p>
		<p id="notional">0</p>
	</div>
	<div class="notional">
		<p>Shipping price</p>
		<p id="shipping">0</p>
	</div>
	<div class="notional">
		<p>Cover price</p>
		<p id="cover">0</p>
	</div>
</div>
<div class="subtotal">
	<p>Total Price</p>
	<p id="subtotal">0</p>
</div>