.content-appear-up {
	-webkit-animation-name: appearUpContent;
	animation-name: appearUpContent;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
	animation-fill-mode: backwards;		
}

/*==========================================*/
/* STARTER ANIMATION FOR INTRODUCTION
/*==========================================*/
.slogan-appear, .name-appear {
	-webkit-animation-name: appearUp;
	animation-name: appearUp;
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
	animation-delay: 0.3s;
	animation-fill-mode: backwards;
}

.name-appear { animation-delay: 0.6s; }

.beMember-appear {
	-webkit-animation-name: appearLeft;
	animation-name: appearLeft;
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
	animation-delay: 0.9s;
	animation-fill-mode: backwards;
}

.social-appear, .facebook-appear,
.twitter-appear, .google-appear {
	-webkit-animation-name: appearBottom;
	animation-name: appearBottom;
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
	animation-delay: 1.2s;
	animation-fill-mode: backwards;	
}

.facebook-appear { animation-delay: 1.5s; }

.twitter-appear { animation-delay: 1.7s; }

.google-appear { animation-delay: 1.9s; }

/*==========================================*/
/* STARTER ANIMATION FOR FORM
/*==========================================*/
.username-appear, .password-appear{
	-webkit-animation-name: appearRight;
	animation-name: appearRight;
	-webkit-animation-duration: 0.7s;
	animation-duration: 0.7s;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
	animation-delay: 0.5s;
	animation-fill-mode: backwards;
}

.password-appear { animation-delay: 0.8s; }

.btnSignup-appear, .forgot-appear {
	-webkit-animation-name: appearBottom;
	animation-name: appearBottom;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
	animation-delay: 0.5s;
	animation-fill-mode: backwards;
}

.forgot-appear { animation-delay: 0.8s; }

/*==========================================*/
/* KEYFRAME
/*==========================================*/
@keyframes appearUp{
	0%{
		opacity: 0;	
		transform: translateY(-40px);
	}
	100%{
		opacity: 1;
		transform: translateX(0px);
	}
}

@keyframes appearUpContent{
	0%{
		opacity: 0;
		transform: translateY(-50px);
	}
	100%{
		opacity: 1;
		transform: translateX(0px);
	}
}

@keyframes appearLeft{
	0%{
		opacity: 0;
		transform: translateX(-40px);
	}
	100%{
		opacity: 1;
		transform: translateX(0px);
	}
}

@keyframes appearBottom{
	0%{
		opacity: 0;
		transform: translateY(40px);
	}
	100%{
		opacity: 1;
		transform: translateY(0px);
	}
}

@keyframes appearRight{
	0%{
		opacity: 0;
		transform: translateX(20px);
	}
	100%{
		opacity: 1;
		transform: translateX(0px);
	}
}