/*==========================================*/
/* STARTER ANIMATION FOR INTRODUCTION
/*==========================================*/
.content-appear-up {animation: appearUpContent 1s 1 backwards;}

/*.content-appear-left {}*/

/*==========================================*/
/* STARTER ANIMATION FOR INTRODUCTION
/*==========================================*/
.slogan-appear, .name-appear {animation: appearUp .5s .3s 1 backwards;}

.name-appear {animation-delay: 0.6s;}

.beMember-appear {animation: appearLeft .5s .9s 1 backwards;}

.social-appear, .facebook-appear,
.twitter-appear, .google-appear {animation: appearBottom .5s 1.2s 1 backwards;}

.facebook-appear {animation-delay: 1.5s;}

.twitter-appear {animation-delay: 1.7s;}

.google-appear {animation-delay: 1.9s;}

/*==========================================*/
/* STARTER ANIMATION FOR FORM
/*==========================================*/
.username-appear, .password-appear {animation: appearRight .7s .5s 1 backwards;}

.password-appear {animation-delay: .8s;}

.btnSignup-appear, .forgot-appear {animation: appearBottom 1s .5s 1 backwards;}

.forgot-appear {animation-delay: .8s;}

/*==========================================*/
/* ANIMATION FOR ANNOUNCEMENT
/*==========================================*/
.announce-appear {animation: appearLeft .5s 1 backwards;}

/*==========================================*/
/* KEYFRAME
/*==========================================*/
@keyframes appearUp{
	0%{
		opacity: 0;	
		transform: translateY(-40px);
	}
	100%{
		opacity: 1;
		transform: translateX(0px);
	}
}

@keyframes appearUpContent{
	0%{
		opacity: 0;
		transform: translateY(-50px);
	}
	100%{
		opacity: 1;
		transform: translateX(0px);
	}
}

@keyframes appearLeft{
	0%{
		opacity: 0;
		transform: translateX(-40px);
	}
	100%{
		opacity: 1;
		transform: translateX(0px);
	}
}

@keyframes appearBottom{
	0%{
		opacity: 0;
		transform: translateY(40px);
	}
	100%{
		opacity: 1;
		transform: translateY(0px);
	}
}

@keyframes appearRight{
	0%{
		opacity: 0;
		transform: translateX(20px);
	}
	100%{
		opacity: 1;
		transform: translateX(0px);
	}
}