body{
	background-image: url(/image/login2Bl.jpg);
	background-repeat: no-repeat;
}

.content{
	margin-top: 150px;
	padding-right: 0px;
	padding-left: 0px;
	background-color: #131313b3;
	display: flex;
	flex-direction: row;
}

.customize-md-6{
	flex-grow: 1;
	flex-basis: 50%;
	display: flex;
	align-items: center;
}

/*==========================================*/
/* INTRODUCTION CSS
/*==========================================*/
.intro-content{
	color: #e0e0e0;
	padding-top: 5%;
	padding-bottom: 5%;
	width: 80%;
	margin: auto;
	font-family: 'Montserrat';
}

.intro-content>h1{
	color: #f7f7f7;
	font-size: 50px;
	font-weight: 700;
	text-align: center;
	letter-spacing: 10px;
	text-transform: uppercase;
	margin-bottom: 6%;
}

.intro-content>p:nth-of-type(1){
	margin-top: 4%;
	margin-bottom: 6%;
	text-align: center;
	letter-spacing: 5px;
	text-transform: uppercase;
	font-weight: lighter;
}

.intro-content>p:nth-of-type(2){
	margin-top: 10%;
	margin-bottom: 7%;
	text-align: center;
	letter-spacing: 1px;
	font-weight: 700;
	color: #ccc;
	transition-duration: 0.5s;
}

.intro-content>button{
	display: block;
	width: 40%;
	margin: auto;
	line-height: 2.5;
	color: #e46b09;
	background-color: transparent;
	border: 2px solid #e46b09;
	border-radius: 20px;
	font-weight: 700;
	text-transform: uppercase;
	outline: none;
	transition-duration: 0.5s;
}

.intro-content>button.join-color{
	color: #4cc5b0;
	border-color: #4cc5b0;
}

.intro-content>p:nth-of-type(3){
	text-align: center;
	text-transform: uppercase;
	margin-top: 12%;
	font-weight: lighter;
	letter-spacing: 1px;
	color: #ccc;
	margin-bottom: 7%;
}

.intro-content>div{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.intro-content>div button{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 6px 12px;
	border-radius: 30px;
	line-height: 2;
	flex-basis: 10%;
	margin-left: 1%;
	margin-right: 1%;
	transition: flex-basis .1s linear .3s;
}

.intro-content>div button:nth-of-type(1){	 
	background-color: #496b9c;
	border: 2px solid #496b9c;
}

.intro-content>div button:nth-of-type(2){
	background-color: #4eb1ab;
	border: 2px solid #4eb1ab;
}

.intro-content>div button:nth-of-type(3){
	background-color: #b74c2f;
	border: 2px solid #b74c2f;	
}

.intro-content>div button:hover,
.intro-content>div button:focus{
	outline: none;
	flex-basis: 28%;
	justify-content: center;
	transition: flex-basis .3s;
}

.intro-content>div button span{
	visibility: hidden;
	transition: opacity .3s linear, max-width .3s linear .1s, margin-left .3s linear .1s, visibility 0s linear .4s;
	opacity: 0;
	max-width: 0;
}

.intro-content>div button:hover span,
.intro-content>div button:focus span{
	visibility: visible;
	opacity: 1;
	max-width: 100px;
	margin-left: 7px;
	transition: all .3s;
}

/*==========================================*/
/* LOGIN CSS
/*==========================================*/
.register-form{
	background-color: white;
	padding-top: 5%;
	padding-bottom: 5%;
	height: 100%;
	display: flex;
	align-items: center;
	flex-basis: 100%;
}

.register-form>div{
	width: 60%;
	margin: auto;
}

.register-form>div>h2{
	font-family: Lato;
	transition-duration: 0.5s;
}

.register-form>div>p{
	transition-duration: 0.5s;
	margin: 0;
	margin-top: 20px;
	font-weight: lighter;
	color: gray;
}

.form-group{
	margin-bottom: 20px;
}

.register-form form>div:nth-of-type(2), .register-form form>div:nth-of-type(3),
.register-form form>div:nth-of-type(5){
	visibility: hidden;
	transform: translateX(-50px);
	opacity: 0;
	height: 0px;
	margin-bottom: 0px;
	transition-duration: 0.7s;
}

.register-form form>div:nth-of-type(3) {transition-delay: 0.3s;}

.register-form form>div:nth-of-type(5) {transition-delay: 0.6s;}

.register-form form>div.signup-appear{
	visibility: visible;
	transform: translateX(0px);
	opacity: 1;
	height: unset;
	margin-bottom: 20px;
}

.register-form .input-group-addon{
	border: none;
	background-color: white;
	border-bottom: 1px solid #80808054;
}

.register-form input{
	width: 100%;
	display: block;
	line-height: 2;
	border: none;
	border-bottom: 1px solid #80808054;
	outline: none;
}

.register-form>div>form>button{
	border-radius: 20px;
	background-color: #69b599;
	border: 1px solid #69b599;
	margin-top: 7px;
	line-height: 1.8;
	opacity: 1;
	transform: translateX(0px);
	transition-duration: 1s;
}

.register-form>div>form>button.modeSignUp{
	background-color: #d04242;
	border-color: #d04242;
}

.register-form>div>form>button.hideSItoSU, 
.register-form>div>form>button.hideSUtoSI{
	opacity: 0;
	transform: translateX(-40px);
}

.register-form>div>form>button.hideSUtoSI{
	transform: translateX(40px);
}

form + a{
	display: block;
	color: gray;
	margin-top: 6%;
}

form + a:hover, form + a:focus{
	text-decoration: none;
	color: #dc6767;
}