/*==========================================*/
/* NOBOOK CSS
/*==========================================*/
.no-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}

.no-item i{
  margin-bottom: 20px;
  color: #acabab6b;
}

.no-item p{
  font-size: 14px;
  color: #747373;
  margin-bottom: 20px;
  margin-top: 10px;
}

.no-item a{
  font-size: 16px;
  background-color: #9ababc;
  color: white;
  padding: 8px 25px;
  border-radius: 5px;
}

.no-item a:hover,
.no-item a:focus{
  background-color: #64888b;
  text-decoration: none;
}

/*==========================================*/
/* BOOK CSS
/*==========================================*/
.cheader{
  line-height: 3;
  border-bottom: 1px solid #8080802e;
  color: #808080b3;
  font-size: 12px;
  margin: 2% 0 0 0;
}

.book-row{
  margin-top: 3%;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 5%;
}

.detail-content{
  display: flex;
}

.detail-content div{
  display: flex;
  flex-direction: column;
  font-family: Lato;
  margin-left: 5%;
}

.name{
  margin-bottom: 8px;
  color: #000000b0;
}

.author{
  color: gray;
  margin-bottom: 12px;
}

.type{
  width: fit-content;
  padding: 3px 10px;
}

.fast{
  background-color: #0080008a;
  color: white;
}

.standard{
  background-color: #8080804a;
  color: #0000008f;
}

.cart-img{
  width: 100px;
  height: 140px;
}

.space-icon{
  margin-right: 5px;
}

.option{
  margin-bottom: 12px;
  margin-top: 2px;
}

.option a{
  color: gray;
  font-size: 15px;
  font-weight: lighter;
  margin-right: 10px;
}

.price, .old-price, .discount{
  font-family: Lato;
  color: #000000b0;
}

.unit{
  color: gray;
  font-size: 13px;
  font-family: lato;
}

.old-price{
  font-size: 14px;
  text-decoration: line-through;
  color: gray;
}

.discount{
  color: red;
}

.wishlist-title{
  font-weight: normal;
  color: #808080a8;
}

.amountEdit{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.amountEdit p{
  padding: 0 15px;
  margin: 0;
}

.amountEdit button{
  padding: 10px 15px;
}

.icon-amount{
  font-size: 10px;
}

.disabled{
  pointer-events: none;
}

/*==========================================*/
/* CHECKOUT CSS
/*==========================================*/
/*.horizon{
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-content: center;
}

.horizon p{
  margin: 0;
}

.horizon input{
  border-radius: 5px;
  border: 1px solid #80808036;
  width: 260px;
  padding-left: 10px;
  outline: none;
}

.horizon button{
  border-radius: 5px;
  background-color: #609a8d;
  color: white;
  border: none;
  padding: 8px 20px;
}

.applied{
  font-weight: bold;
  margin: 5px 10px;
  padding: 10px;
  color: gray;
  background-color: #c46f0229;
  border-radius: 5px;
}

.notional{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-family: Lato;
  margin-top: 5px;
}

.notional p:first-child{
  color: gray;
  font-size: 15px;
  margin: 0;
  font-weight: lighter;
}

.notional p:last-child{
  font-size: 18px;
  color: #5c5c5c;
  margin: 0;
}

.subtotal{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-family: Lato;
  margin-top: 5px;
  border-top: 1px solid #8080802e;
}

.subtotal p:first-child{
  color: gray;
  font-size: 15px;
  margin: 0;
  font-weight: lighter;
}

.subtotal p:last-child{
  font-size: 30px;
  color: #5c5c5c;
  margin: 0;
}*/

.orderTask{
  display: flex;
  justify-content: space-between;
  margin: 10px 10px 20px 10px;
}

.btnOrder{
  text-decoration: none;
  padding: 10px;
  flex-basis: 69%;
  text-align: center;
  background-color: #bc6161;
  border: none;
  color: white;
  border-radius: 5px;
  font-size: 15px;
}

.btnOrder i{
  margin-right: 5px;
}

.btnRemove{
  background-color: #c8c8c8;
  flex-basis: 30%;
}

.btnOrder:hover, .btnOrder:focus{
  text-decoration: none;
  background-color: #ae5c5c;
  color: white;
}

.btnRemove:hover, .btnRemove:hover{
  text-decoration: none;
  background-color: #b4b4b4;
  color: white;
}

/*==========================================*/
/* FOOTER CSS
/*==========================================*/
html{
  height: 100%;
  box-sizing: border-box;
}

body{
  position: relative;
  min-height: 100%;
}