/*==========================================*/
/* ADDRESS CSS
/*==========================================*/
.orderInfo{
	margin-bottom: 30px
}

.cheader{
	line-height: 3;
	border-bottom: 1px solid #8080802e;
	color: #808080b3;
	font-size: 12px;
	margin-bottom: 0px;
	padding-left: 5px;
}

.cheader>i{
	margin-right: 5px;
}

.rowAddress{
	margin-bottom: 10px;
}

.address-container{
	padding: 15px;
	border-radius: 5px;
	margin-top: 20px;
	font-family: Lato;
}

.unselectAdd{
	border: 1px dashed lightgrey;
}

.selectAdd{
	border: 1px solid lightgray;
}

.address-container>h5{
	color: #b0b0b0;
	margin-bottom: 0px;
	font-size: 13px;
	margin-top: 0;
	font-style: italic;
}

.address-container>h3{
	margin-top: 11px;
	font-size: 17px;
	font-family: Lato;
	font-weight: bold;
	color: #515151;
}

.typeAddress{
	display: flex;
	justify-content: space-between;
}

.useAddress .selected{
	padding: 7px 15px;
	border: none;
	border-radius: 5px;
	margin-right: 5px;
	color: white;
	background-color: #69b099;
}

.editBtn{
	padding: 6px 15px;
	border: 1px solid #b0b0b0;
	border-radius: 5px;
	margin-right: 5px;
	color: gray;
	background-color: transparent;
	font-weight: bold;
}

.unselected{
	padding: 7px 15px;
	border: none;
	border-radius: 5px;
	margin-right: 5px;
	color: white;
	background-color: #a3a3a3;
}

.diffAdd{
	font-size: 13px;
	color: gray;
	text-align: right;
	margin-bottom: 0;
	margin-top: 18px;
	cursor: pointer;
}

/*==========================================*/
/* ANOTHER ADDRESS CSS
/*==========================================*/
.rowDelivery{
	margin-bottom: 15px;
}

.checkBox{
	display: flex;
	align-items: center;
	font-family: Lato;
	cursor: pointer;
}

.form-group label{
	font-family: Lato;
	color: #535353;
}

.inputValue{
	border-radius: 0px;
}

.inputValue:focus{
	outline: none;
	box-shadow: none;
	border-color: #50a3a3;
}

.openDiff{
	max-height: 500px;
	opacity: 1;
	transition: margin-bottom 1s;
	margin-bottom: 12px;
}

.eachForm{
	max-height: 500px;
	visibility: visible;
	opacity: 1;
	transform: translateX(0px);
	transition: max-height 1s, opacity 0.5s 0.3s, transform 0.5s 0.2s;
}

.saveAddress{
	padding: 5px 10px;
	border: none;
	border-radius: 5px;
	font-family: Lato;
	color: white;
	background-color: #69b099;

	max-height: 500px;
	visibility: visible;
	opacity: 1;
	transform: translateX(0px);
	transition: max-height 1s, opacity 0.5s 0.5s, transform 0.5s 0.5s;
}

.btnCancel{
	padding: 5px 10px;
	border: none;
	border-radius: 5px;
	font-family: Lato;
	color: white;
	background-color: #a4a4a4;
	margin-left: 2px;

	max-height: 500px;
	visibility: visible;
	opacity: 1;
	transform: translateX(0px);
	transition: max-height 1s, opacity 0.5s 0.5s, transform 0.5s 0.5s;
}

.closeDiff{
	visibility: hidden;
	max-height: 0;
	margin-bottom: 0px;
	transition: margin-bottom 0.5s 0.4s, max-height 0.5s 0.4s, visibility 1s;
}

.hideCheader{
	margin-bottom: 0px;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.6s 0.2s, margin-bottom 0.6s 0.4s, visibility 0.8s;
}

.closeForm{
	max-height: 0px;
	visibility: hidden;
	opacity: 0;
	transform: translateX(-20px);
	transition: transform 0.5s, opacity 0.3s 0.2s, max-height 0.5s 0.4s, visibility 0.8s;
}

.closeBtn{
	max-height: 0px;
	visibility: hidden;
	opacity: 0;
	transform: translateX(-20px);
	transition: transform 0.5s 0.3s, opacity 0.3s 0.4s, max-height 0.5s 0.4s, visibility 1s;
}

.closeCancel{
	max-height: 0px;
	visibility: hidden;
	opacity: 0;
	transform: translateX(-20px);
	transition: transform 0.5s 0.3s, opacity 0.3s 0.4s, max-height 0.5s 0.4s, visibility 1s;
}

/*==========================================*/
/* BOOKCARE CSS
/*==========================================*/
.rowCare{
	margin-bottom: 23px;
}

.rowCare + .row{
	margin: 0px;
	margin-bottom: 10px;
}

.rowCare + .row>.col-md-2{
	padding: 0px;
	margin-right: 10px;
}

.rowCare + .row>.col-md-2>div{
	position: relative;
	overflow: hidden;
	margin: auto;
	width: 120px;
	height: 180px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.rowCare + .row>.col-md-2>.selectCover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transform: scale(1.05);
	transition: transform .5s;
}

.rowCare + .row>.col-md-2>div>p:nth-of-type(1){
	position: absolute;
	background-color: #2f2f2f;
	color: whitesmoke;
	margin-bottom: 0px;
	bottom: 0;
	right: 0;
	font-size: 12px;
	padding: 5px;
	font-family: Lato;
	font-weight: bold;
	cursor: pointer;
	transition: max-width .2s linear, transform 0.3s linear;
	width: 100%;
	max-width: 85px;
	border-top-left-radius: 10px;
}

.rowCare + .row>.col-md-2>div>p:nth-of-type(1)>i{
	color: gray;
	margin-right: 4px;
	margin-left: 2px;
}

.rowCare + .row>.col-md-2>div>p:nth-of-type(1)>.fas.fa-bookmark{
	color: #ffff3a;
	/*color: #84b431;*/
}

.rowCare + .row>.col-md-2>div>p:nth-of-type(2){
	position: absolute;
	left: 0px;
	top: 0px;
	background-color: #69b099;
	color: white;
	text-align: center;
	font-family: Lato;
	font-size: 11px;
	margin-left: 10px;
	margin-bottom: 0px;
	font-weight: bold;
	transition: transform 0.2s linear;
	padding: 5px;
	width: 50px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	transform: translateY(-30px);
}

.rowCare + .row>.col-md-2>div>p:nth-of-type(1).coverHor{
	max-width: 120px;
	border-radius: 0px;
}

.rowCare + .row>.col-md-2>div>p:nth-of-type(2).cover{
	transform: translateY(0px);
	transition: transform .3s linear;
}

/*==========================================*/
/* DELIVERY CSS
/*==========================================*/
.checkBox>.fas.fa-check-square{
	font-size: 21px;
	margin-right: 8px;
	color: #8ec8b6;
}

.checkBox>.fas.fa-square{
	font-size: 21px;
	margin-right: 8px;
	color: #cfcfcf;
}

/*==========================================*/
/* SUBMIT ORDER CSS
/*==========================================*/
.submitOrder{
	padding: 9px 20px;
	width: 100%;
	color: white;
	font-weight: bold;
	border-radius: 5px;
	border: none;
	background-color: #98aa70;
	font-family: Lato;
	font-size: 16px;
	margin-top: 10px;
}

.submitOrder + a>.submitOrder{
	background-color: #efefef;
	color: gray;
}

.submitOrder + a{
	text-decoration: none;
}

.submitOrder>i{
	margin-right: 5px;
}