hr.style_author{
  width: 75%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

hr.style-blog{
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/*==========================================*/
/* CAROUSEL CSS
/*==========================================*/

.carousel-content{
  position: relative;
}

.event-first{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
  align-items: flex-start;
  height: 100%;
  justify-content: center;
  padding-top: 5%;

  color: white;
  font-family: Lato;
  font-weight: 700;
  text-align: left;
}

.slogan_welcome{
  font-size: 50px;
  display: block;
}

.slogan{
  font-size: 20px;
  font-weight: 300;
  display: block;
  margin-bottom: 5px;
  color: #dadada;
}

.event-first-content h4{
  color: darkgray;
  font-family: Lato;
}

.event-first-content h2{
  font-family: Lato;
  font-weight: lighter;
  color: white;
}

.event-first-content button{
  line-height: 2.5;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  font-weight: bold;
  font-family: Lato;
  text-transform: capitalize;
  margin-top: 3%;
}

.book-first{
  width: 270px;
  height: 400px;
  margin-right: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.book-first.second{
  margin-right: 0px;
}

.event-first-content h3{
  color: white;
}

.first-sale{
  font-size: 18px;
  color: #bfbfbf;
  text-decoration: line-through;
}

.first-discount{
  color: #e83935;
}

/*==========================================*/
/* BENEFITS SHOWNCASE CSS
/*==========================================*/
.benefit_bg{
  background-color: #1f1f1f;
  color: white;
  padding: 1.5% 0;
}

.ben_name{
  font-weight: bold;
  margin: 0;
  font-size: 18px;
}

.ben_des{
  font-family: Lato;
  color: #8e8d8d;
}

.arr_horizontal{
  display: flex;
  font-family: Lato;
}

.arr_vertical{
  padding-left: 5%;
  display: flex;
  flex-direction: column;
}

.icon_benefit{
  margin: auto;
  padding: 15px;
  font-size: 25px;
  border: 2px solid #6f5757;
  border-radius: 20%;
  display: block;
}

/*==========================================*/
/* NEW ARRIVAL BEST SELLER CSS
/*==========================================*/
.title-type{
  font-family: Lato;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 8px;
  text-align: center;
  margin-top: 3%;
  color: #555;
  margin-bottom: 1%;
}

.title-des{
  font-family: Lato;
  font-size: 14px;
  color: gray;
  text-align: center;
  margin-bottom: 4%;
}

.rowBook{
  margin-top: 3%;
  margin-bottom: 3%;
}

.rowDeal{
  margin-top: 1%;
}

p{
  margin: 0px;
}

.book-info{
  position: relative;
}

.onBook{
  position: relative;
}

.interact{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2f2f2f;
  width: 85%;
  margin: auto;

  transition-duration: 0.5s;
  opacity: 0;
  transform: translateY(8px);
}

.book-info:hover .interact{
  opacity: 1;
  transform: translateY(0px);
}

.fas.fa-star{
  font-size: 16px;
  color: yellow;
}

.rate{
  color: white;
  line-height: 2.8;
  font-size: 14px;
  padding-left: 5%;
  flex-grow: 1;
  text-align: left;
}

.btn_cart{
  color: white;
  background-color: #78d2c0;
  border: 1px solid #78d2c0;
  outline: none;
  line-height: 2.8;
  padding-left: 15px;
  padding-right: 15px;
  text-transform: capitalize;
  flex-grow: 0;
}

.btn_wishList{
  color: gray;
  background-color: transparent;
  border: none;
  outline: none;
  line-height: 2.8;
  padding-left: 15px;
  padding-right: 15px;
  flex-grow: 0;
  color: #e26b14;
}

.book-des{
  transform: translateY(10px);
  opacity: 0;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  position: absolute;
  text-align: left;
  color: white;
  background-color: #0e0e0ee3;
  z-index: 10;
  bottom: 0;
  right: 0;
  left: 0;
  padding-top: 2%;
  padding-bottom: 2%;
  font-family: 'Slabo 27px', serif;
  padding-left: 10px;
  text-decoration: none;
}

.tab{
  display: flex;
  justify-content: center;
  margin-top: 3%;
}

.tablinks{
  background-color: transparent;
  border: none;
  font-family: Lato;
  font-size: 16px;
  margin-bottom: 4%;
  margin-left: 1%;
  margin-right: 1%;
  color: #00000094;
  line-height: 2.5;
}

.tablinks.active{
  border-bottom: 2px solid;
  color: black;
  font-weight: 500;
}

#book{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #3c3c3c;
  max-width: 250px;
  font-size: 18px;
  font-family: Lato;
  margin-top: 6%;
  font-weight: lighter;
}

#author{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #a0a0a0;
  max-width: 250px;
  font-size: 14px;
  font-family: Lato;
  margin-top: 3%;
  font-weight: lighter;
}


#price{
  color: black;
  font-size: 14px;
  margin-top: 3%;
  font-weight: normal;
  font-family: Lato;
}

#sale{
  font-size: 12px;
  color: gray;
  text-decoration: line-through;
}

#discount{
  color: #e83935;
}

.arrival-book-model{
  height: 320px;
  width: 85% !important;
  margin: auto;
}

.owl-theme .owl-dots .owl-dot{
  outline: none;
}

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 3%;
}

.btn_position{
  margin-top: 2%;
  background-color: #555;
  color: white;
  border: 2px solid #555;
  font-weight: normal;
  transition-duration: 0.5s;
  line-height: 2.5;
  padding-left: 15px;
  padding-right: 15px;
  text-transform: uppercase;
  font-family: Lato;
}

.fas.fa-angle-down.arrow{
  padding-left: 5px;
  top: 0;
  bottom: 0;
  font-size: 20px;
  vertical-align: sub;
}

.btn_position:hover,
.btn_position:focus,
.btn_position:active{
  background-color: transparent;
  border: 2px solid white;
  border-bottom-color: #555;
  color: #444444c7;
}

/*==========================================*/
/* EVENT CSS
/*==========================================*/
.event-title{
  font-family: Lato;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 8px;
  text-align: center;
  margin-top: 8%;
  color: #555;
  margin-bottom: 4%;
}

.bgimg {
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
  position: relative;
  margin-bottom: 2%;
}

.middle{
  display: flex;
  flex-direction: column;
  text-align: center;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  justify-content: center;
}

hr.event {
  width: 40%;
  margin-bottom: 17px;
}

.opa-bg{
  position: absolute;
  background-color: #00000054;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo_event{
  display: flex;
  margin-top: 20px;
  margin-left: 20px;
  color: #ccc;
  align-self: flex-start;
}

.logo_event_owner{
  margin: 0;
  font-family: Montserrat;
  text-transform: uppercase;
}

.event-img{
  height: 400px;
}

.icon_event_owner{
  margin-right: 10px;
}

.event-name{
  margin-top: 0px;
}
.upcoming{
  position: relative;
}

.upcoming-bg{
  position: absolute;
  background-color: #4e494982;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upcoming-owner{
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  padding-top: 20px;
  padding-left: 20px;
  align-self: flex-start;
}

.upcoming-img{
  height: 150px;
}

.upcoming-icon{
  font-size: 25px;
  color: #999;
  margin-right: 5px;
}

.upcoming-event-name{
  font-size: 32px;
  font-family: "Courier New", Courier, monospace;
  color: #999;
}

.upcoming-discount{
  color: #999;
}

.upcoming-title{
  margin: 0px;
  color: #999;
  font-weight: 300;
  text-transform: uppercase;
  font-family: Montserrat;
}
/*==========================================*/
/* DAILY DEALS
/*==========================================*/
.deal-title{
  margin-top: 8%;
}

.rowDaily{
  margin-top: 7%;
  margin-bottom: 6%;
}

.review-book{
  display: flex;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
}

.review-book-img{
  width: 250px;
  height: 350px;
  margin: auto;
}

.hot-daily-content{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: flex-end;
  justify-content: center;
  text-align: right;
  padding-left: 10px;
  color: gray;
}

.hot-daily-name{
  margin: 0;
  color: #565656;
  margin-top: 5px;
}

.hot-daily-author{
  margin-top: 10px;
  margin-bottom: 7px;
}
/*==========================================*/
/* RECOMMENDED BOOK
/*==========================================*/
.recommend{
  margin-top: 3%;
}

.content-align{
  padding-top: 5%;
  padding-bottom: 5%;
}

.show-left{

}

.recommended-book{
  width: 288px;
  height: 432px;
  margin: auto;
  display: block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.recommended-title{
  color: #888;
}

.recommended-name{
  text-transform: capitalize;
  color: #555;
}

.recommended-author{
  color: #666;
  font-size: 17px;
  font-style: italic;
}

.recommended-description{
  font-size: 17px;
  font-family: Lato;
  font-weight: 300;
}

.takeALook{
  margin-top: 5%;
  background-color: #555;
  color: white;
  border: 2px solid #555;
  font-weight: normal;
  transition-duration: 0.5s;
  line-height: 2;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 16px;
  font-family: Lato;
  border-radius: 20px;
  text-transform: capitalize;
}

.takeALook:hover,
.takeALook:focus,
.takeALook:active{
  background-color: transparent;
  color: #444444c7;
}

/*==========================================*/
/* AUTHORS
/*==========================================*/
.author-title{
  font-family: Lato;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 8px;
  text-align: center;
  margin-top: 6%;
  color: #555;
  margin-bottom: 7%;
}

.author-info{
  display: flex;
  align-items: center;
  margin-bottom: 7%;
}

.author-img{
  width: 100px;
  height: 100px;
  border-radius: 60%;
}

.author-des{
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 8%;
}

.author-name{
  font-weight: bold;
  margin: 0px;
  margin-bottom: 3%;
  color: #555;
  font-family: Lato;
  font-size: 18px;
}

.author-career{
  color: #808080de;
  font-family: 'Sanchez', serif;
}

.quote{
  font-size: 14px;
  font-family: Lato;
  font-weight: 300;
}

.btn_author{
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: transparent;
  color: #555;
  border: 2px solid #555;
  font-weight: normal;
  transition-duration: 0.5s;
  line-height: 2;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 16px;
  font-family: Lato;
  border-radius: 20px;
  text-transform: capitalize;
  margin-left: auto;
  margin-right: auto;
}

.btn_author:hover,
.btn_author:focus,
.btn_author:active{
  background-color: transparent;
  color: #444444c7;
}

.row-author{
  margin-bottom: 8%;
}

/*==========================================*/
/* BLOG
/*==========================================*/
.edit-title{
  margin-top: 5%;
}

.big-blog{
  height: 533px;
}

.blog-content{
  display: flex;
  margin-bottom: 2%;
}

.col-blog{
  padding-left: 0px;
  padding-right: 0px;
}

.blog-img{
  margin-right: 5%;
  height: 100px;
  width: 200px;
}

.blog-name{
  font-weight: normal;
  text-transform: capitalize;
  font-family: Lato;
}

/*==========================================*/
/* BRAND LOGO
/*==========================================*/
.brand-des{
  font-family: Lato;
  font-size: 14px;
  color: gray;
  text-align: center;
  margin-bottom: 1%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  line-height: 2.5;
}

.parallax {
  background-image: url('https://images.unsplash.com/photo-1512922253691-2b65ff81ef8d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=25b69dd812e5f0475ddbb3d3e60b6b35&auto=format&fit=crop&w=1934&q=80');
  height: 100%; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}