/*==========================================*/
/* NAVBAR CSS
/*==========================================*/
.container-fluid{
  padding-right: 0px;
  padding-left: 0px;
}

.bg-color{
  background-color: #242424;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.navbar-default{
  background-color: transparent;
  border-color: #faebd700;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 0px;
  margin-bottom: 0px;
}

.navbar-default .navbar-brand{
  color: #e4e4e4;
  font-size: 30px;
  display: flex;
  align-items: center;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus{
  color: white;
}

.fas.fa-book.brand_logo.brand_logo_fixed{
  font-size: 30px;
  color: white;
}

.fas.fa-book.brand_logo{
  font-size: 40px;
  color: white;
}

.authentication{
  font-size: unset;
}

.navbar-default .navbar-nav>li>a.authen:hover{
  border-radius: 60%;
}

.navbar-default .navbar-nav>li>a{
  color: #dadada;
  font-family: Lato;
  font-size: 16px;
  border: none;
  outline: none;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus{
  outline: none;
  border-color: none;
  border-radius: 10%;
  background-color: #9999994f;
  color: white;
}

.container-fluid.main{
  position: relative;
  padding: 0;
}

.logo{
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  margin-left: 10px;
}

.logo_p1{
  font-family: 'Montserrat';
  font-size: 25px;
  font-weight: lighter;
  margin-bottom: 3px;
  text-transform: uppercase;
  color: white;
}

.logo_p2{
  font-size: 14px;
  color: gray;
}

.search-form{
  position: relative;
  padding-left: 10px;
  margin-top: 6px;
  margin-bottom: 6px;
  width: 300px;
  display: flex;
  transition-duration: 0.5s;
}

.search-form:hover{
  width: 500px;
}

.search-bar{
  height: 40px;
  width: 100%;
  padding-left: 30px;
  border-radius: 20px;
  border: 2px solid #dadada;
  background-color: transparent;
  color: #9c9c9c;
  outline: none;
}

.search-btn{
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  color: #9c9c9c;
  border: 1px solid transparent;
  padding-left: 20px;
}

/*==========================================*/
/* FOOTER
/*==========================================*/
footer{
  background-color: #1f1f1f;
  padding: 25px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-title{
  margin: 0px;
  margin-bottom: 12px;
  color: #656565;
  font-weight: bold;
}

.footer-select{
  list-style-type: none;
  padding-left: 0px;
  line-height: 2;
}

.footer-select li a{
  color: gray;
  text-decoration: none;
  transition-duration: 0.5s;
}

.footer-select li a:hover,
.footer-select li a:focus{
  color: black;
}

.social{
  display: flex;
  flex-wrap: wrap;
  font-size: 28px;
  justify-content: flex-start;
}

.social_icon{
  padding-top: 8px;
  color: white;
  text-align: center;
  height: 40px;
  width: 40px;
  background-color: gray;
  border-radius: 60%;
  margin-right: 3%;
}

.form-news{
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
}

.type_email{
  border: none;
  border-bottom: 1px solid #6969698f;
  color: #696969;
  background-color: transparent;
  outline: none;
  margin-left: 1%;
  font-size: 15px;
  border-radius: 10px;
}

.btn_submit{
  color: #f7f7f7;
  border: none;
  outline: none;
  margin-left: 1%;
  padding: 10px;
  background-color: #4a4949;
  border-radius: 10px;
}

.bold-store-info{
  font-weight: bold;
  color: #4a4949;
}

.detail-info{
  color: gray;
}

.row-brand{
  margin-bottom: 6%;
}

/*==========================================*/
/* FINAL BAR
/*==========================================*/
.final-bar{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #2d2d2d;
  padding-top: 1%;
  padding-bottom: 1%;
  color: white;
}

.copyright{
  color: gray;
}