<% include partials/header %>
<link rel="stylesheet" href="/stylesheet/partial.css">
<link rel="stylesheet" type="text/css" href="/stylesheet/bookDetail.css">
</head>
<body>
	<div class="backgroundImg" style="background-image: url(/image/authorBg.jpg);">
		<% include partials/navbar%>
		<div class="container-fluid introContent">
			<h1 class="introPage">Book Detail</h1>
			<p class="slogan">New, cheap books with quality service.</p>
			<p class="slogan">Kafka proud to be one of the best service in bringing knowledge closer to people's life.</p>	
		</div>
	</div>
	<div class="crumbread-bg">
		<div class="container">
			<div class="below-content">
				<h4 class="btn-watched">Watched Books <i class="fas fa-angle-down view-icon"></i></h4>
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i> Home</a></li>
						<li class="breadcrumb-item active" aria-current="page">Store</li>
					</ol>
				</nav>
			</div>
			<div class="col-md-2 each-watched hide-watched">
				<img src="/image/book1.jpg" class="watched-book ">
			</div>
			<div class="col-md-2 each-watched hide-watched">
				<img src="/image/book2.jpg" class="watched-book ">
			</div>
			<div class="col-md-2 each-watched hide-watched">
				<img src="/image/book3.jpg" class="watched-book">
			</div>
		</div>
	</div>

	<div class="container-fluid content">
		<div class="row">
			<div class="col-md-3 category-design">
				<div class="category-list">
					<h4 class="category"><i class="fas fa-list-ul cate-icon"></i> Book Category</h4>

					<ul class="listGenre">
						<li><a href="#">All</a></li>
						<li><a href="#">Fantasy & Sci-Fi</a></li>
						<li><a href="#">Art & Photography</a></li>
						<li><a href="#">Cooking, Food & Wine</a></li>
						<li><a href="#">Literature & Fiction</a></li>
						<li><a href="#">Science & Education</a></li>
						<li><a href="#">Audiobooks</a></li>
						<li><a href="#">Business</a></li>
						<li><a href="#">Childer's Book</a></li>
						<li><a href="#">Biographies & Memoirs</a></li>
						<li><a href="">Young Adult Fiction</a></li>
						<li><a href="">Romance Novel</a></li>
						<li><a href="#">Historical Novel</a></li>
						<li><a href="#">Horror Fiction</a></li>
						<li><a href="#">Thriller</a></li>
					</ul>

					<h4 class="category"><i class="fas fa-list-ul cate-icon"></i> Authors</h4>
				</div>
			</div>

			<div class="col-md-9">
				<h4 class="category"><i class="fas fa-list-ul cate-icon"></i> Book Information</h4>
				<div class="row">
					<div class="col-md-1 imgGallery imgList">
						<img src="/image/book15.jpg" class="img-responsive imgThumbnail active">
						<img src="/image/book15Back.jpg" class="img-responsive imgThumbnail">
						<img src="/image/book15Page.jpg" class="img-responsive imgThumbnail">
					</div>
					<div class="col-md-4 imgGallery">
						<img src="/image/book15.jpg" class="img-responsive bigImg">
					<!-- <div class="listImg">
						<img src="/image/book15.jpg" class="img-responsive imgThumbnail active">
						<img src="/image/book15Back.jpg" class="img-responsive imgThumbnail">
						<img src="/image/book15Page.jpg" class="img-responsive imgThumbnail">
					</div> -->
				</div>
				<div class="col-md-7 bookDetail">
					<p class="genre">Literature & Fiction</p>
					<h2 class="name">The Fault In Our Stars</h2>
					<p class="best">The <b>15th</b> place in top of <i>world's best seller book this month</i></p>
					<p><b style="color:#585858;">Availibility:</b> <b style="color:#599461;">In stock</b> - <b style="color:#585858;">Condition:</b> <b style="color:#599461;">Brand new</b></p>
					<p style="font-size: 30px">$23.40 <del style="color:#859086; padding-left: 3%; font-size: 20px">$30.0</del></p>
					<hr class="divide">
					<p class="typeTitle"><b>Author:</b> John Green</p>
					<!-- <p class="typeTitle"><b>Release Day:</b> June 10, 2014</p> -->
					<p class="typeTitle"><b>Format:</b> Paperpack - Hardcover</p>
					<!-- <p class="typeTitle"><b>Share:</b>
						<a href="#" class="fab fa-facebook share"></a>
						<a href="#" class="fab fa-twitter share"></a>
						<a href="#" class="fab fa-google share"></a>
					</p> -->
					<hr class="divide">
					<p style="color:#585858;"><b>Description</b></p>
					<p style="font-size: 14px">Despite the tumor-shrinking medical miracle that has bought her a few years, Hazel has never been anything but terminal, her final chapter inscribed upon diagnosis. But when a gorgeous plot twist named Augustus Waters suddenly appears at...<a href="#describe"><b> More detail</b></a></p>
					<hr class="divide">
					<p style="color:#585858;"><b>Quantity & Order</b></p>
					<div class="doTrade">
						<div class="amountEdit">
							<button class="subAdd">+</button>
							<input type="text" value="1" class="inputQuantity">
							<button class="subAdd edit">-</button>
						</div>
						<button class="addCart">Add to cart</button>
					</div>
					<div class="otherInter">
						<p><a href="#"><i class="fas fa-heart"></i> Add to Wishlist</a></p>
						<p><a href="#"><i class="fas fa-clock"></i> Buy Used books</a></p>	
					</div>
				</div>
			</div>

			<h4 class="detailContent subContent">
				<!-- <i class="fas fa-list-ul cate-icon"></i>  -->
			Other Books of this author</h4>

			<div class="row rowDaily text-center">
				<div class="col-sm-3">
					<div class="book-info">
						<div class="onBook">
							<div class="interact">
								<p class="rate"><i class="fas fa-star"></i> 4.5/5</p>
								<button class="btn_cart"><i class="fas fa-shopping-cart"></i></button>
								<button class="btn_wishList"><i class="far fa-heart"></i></button>
							</div>
							<img src="/image/book5.jpg" class="img-responsive feature-book-model" alt="Image">
						</div>
						<p id="book">Go Set A Watchman</p>
						<p id="author">Harper Lee</p>
						<p id="price">85.000đ <span id="sale">105.000</span> <span id="discount">-20%</span></p>
					</div>
				</div>

				<div class="col-sm-3">
					<div class="book-info">
						<div class="onBook">
							<div class="interact">
								<p class="rate"><i class="fas fa-star"></i> 4.5/5</p>
								<button class="btn_cart"><i class="fas fa-shopping-cart"></i></button>
								<button class="btn_wishList"><i class="far fa-heart"></i></button>
							</div>
							<img src="/image/book6.jpg" class="img-responsive feature-book-model" alt="Image">
						</div>
						<p id="book">A Brave New World</p>
						<p id="author">Aldous Huxley</p>
						<p id="price">100.000đ</p>
					</div> 
				</div>

				<div class="col-sm-3">
					<div class="book-info">
						<div class="onBook">
							<div class="interact">
								<p class="rate"><i class="fas fa-star"></i> 4.5/5</p>
								<button class="btn_cart"><i class="fas fa-shopping-cart"></i></button>
								<button class="btn_wishList"><i class="far fa-heart"></i></button>
							</div>
							<img src="/image/book9.jpg" class="img-responsive feature-book-model" alt="Image">
						</div>
						<a href="#"><p id="book">The Murder On The Orient Express</p></a>
						<p id="author">Agatha Christie</p>
						<p id="price">85.000đ <span id="sale">105.000</span> <span id="discount">-25%</span></p>
					</div> 
				</div>

				<div class="col-sm-3">
					<div class="book-info">
						<div class="onBook">
							<div class="interact">
								<p class="rate"><i class="fas fa-star"></i> 4.5/5</p>
								<button class="btn_cart"><i class="fas fa-shopping-cart"></i></button>
								<button class="btn_wishList"><i class="far fa-heart"></i></button>
							</div>
							<img src="/image/book8.jpg" class="img-responsive feature-book-model" alt="Image">
						</div>
						<p id="book">Nineteen Eighty-Four</p></a>
						<p id="author">George Orwell</p>
						<p id="price">85.000đ <span id="sale">105.000</span></p>
					</div>    
				</div>
			</div>

			<h4 class="detailContent subContent introduct">
				<!-- <i class="fas fa-list-ul cate-icon"></i>  -->
			Book introduction</h4>
			<div id="describe" class="row rowDes">
				<div class="col-md-9 move-left">
					<!-- <p><strong class="desTitle">The Fault In Our Star</strong></p> -->
					<p class="description">Despite the tumor-shrinking medical miracle that has bought her a few years, Hazel has never been anything but terminal, her final chapter inscribed upon diagnosis. But when a gorgeous plot twist named Augustus Waters suddenly appears at Cancer Kid Support Group, Hazel's story is about to be completely rewritten.</p>

					<p class="description">Insightful, bold, irreverent, and raw, The Fault in Our Stars is award-winning author John Green's most ambitious and heartbreaking work yet, brilliantly exploring the funny, thrilling, and tragic business of being alive and in love.</p>
				</div>
				<div class="col-md-3 otherInfo">
					<p class="typeTitle"><b>Release Date:</b> July 10th, 2014</p>
					<p class="typeTitle"><b>Publisher:</b> Harper Collins</p>
					<p class="typeTitle"><b>Page Number:</b> 300</p>
					<p class="typeTitle"><b>Language:</b> English</p>
					<p class="typeTitle"><b>ISBN:</b> 125425656768</p>
				</div>
			</div>

			<h4 class="detailContent subContent">
				<!-- <i class="fas fa-list-ul cate-icon"></i>  -->
			Other Books in this Genre</h4>

			<div class="row rowDaily text-center">
				<div class="col-sm-3">
					<div class="book-info">
						<div class="onBook">
							<div class="interact">
								<p class="rate"><i class="fas fa-star"></i> 4.5/5</p>
								<button class="btn_cart"><i class="fas fa-shopping-cart"></i></button>
								<button class="btn_wishList"><i class="far fa-heart"></i></button>
							</div>
							<img src="/image/book4.jpg" class="img-responsive feature-book-model" alt="Image">
						</div>
						<p id="book">Go Set A Watchman</p>
						<p id="author">Harper Lee</p>
						<p id="price">85.000đ <span id="sale">105.000</span> <span id="discount">-20%</span></p>
					</div>
				</div>

				<div class="col-sm-3">
					<div class="book-info">
						<div class="onBook">
							<div class="interact">
								<p class="rate"><i class="fas fa-star"></i> 4.5/5</p>
								<button class="btn_cart"><i class="fas fa-shopping-cart"></i></button>
								<button class="btn_wishList"><i class="far fa-heart"></i></button>
							</div>
							<img src="/image/book10.jpg" class="img-responsive feature-book-model" alt="Image">
						</div>
						<p id="book">A Brave New World</p>
						<p id="author">Aldous Huxley</p>
						<p id="price">100.000đ</p>
					</div> 
				</div>

				<div class="col-sm-3">
					<div class="book-info">
						<div class="onBook">
							<div class="interact">
								<p class="rate"><i class="fas fa-star"></i> 4.5/5</p>
								<button class="btn_cart"><i class="fas fa-shopping-cart"></i></button>
								<button class="btn_wishList"><i class="far fa-heart"></i></button>
							</div>
							<img src="/image/book11.jpg" class="img-responsive feature-book-model" alt="Image">
						</div>
						<a href="#"><p id="book">The Murder On The Orient Express</p></a>
						<p id="author">Agatha Christie</p>
						<p id="price">85.000đ <span id="sale">105.000</span> <span id="discount">-25%</span></p>
					</div> 
				</div>

				<div class="col-sm-3">
					<div class="book-info">
						<div class="onBook">
							<div class="interact">
								<p class="rate"><i class="fas fa-star"></i> 4.5/5</p>
								<button class="btn_cart"><i class="fas fa-shopping-cart"></i></button>
								<button class="btn_wishList"><i class="far fa-heart"></i></button>
							</div>
							<img src="/image/book12.jpg" class="img-responsive feature-book-model" alt="Image">
						</div>
						<p id="book">Nineteen Eighty-Four</p></a>
						<p id="author">George Orwell</p>
						<p id="price">85.000đ <span id="sale">105.000</span></p>
					</div>    
				</div>
			</div>

		</div>
	</div>
</div>

<% include partials/footer %>	
</body>
</html>

