<% include partials/header %>
<link rel="stylesheet" href="/stylesheet/authen.css">
</head>
<body>
	<div class="container content">
		<div class="customize-md-6">
			<div class="intro-content">
				<h1 id="brand-name"><i class="fas fa-book"></i> Kafka</h1>
				<p class="brand-slogan">Book for everyone</p>
				<p class="become-member">Don't have account? Want to be a member?</p>
				<button class="join">Join Us</button>
				<p class="social-account">Or login via social account</p>
				<div id="social-login">
					<button class="button-facebook"><i class="fab fa-facebook-f social-icon"></i> <span class="social-text">Facebook</span></button>
					<button class="button-twitter"><i class="fab fa-twitter social-icon"></i> <span class="social-text">Twitter</span></button>
					<button class="button-google"><i class="fab fa-google social-icon"></i> <span class="social-text">Google</span></button>
				</div>
			</div>
		</div>
		<div class="customize-md-6">
			<div class="register-form">
				<div class="type-form">
					<h2 class="title">Login</h2>
					<p>Enter your username and password to log on.</p>
					<hr>
					<form action="/login" method="POST">
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon addon-customize"><i class="fas fa-user"></i></div>
								<input type="text" placeholder="Username" class="field-box" name="username">
							</div>
						</div>
						<div class="form-group email">
							<div class="input-group">
								<div class="input-group-addon addon-customize"><i class="fas fa-envelope"></i></div>
								<input type="text" placeholder="Email" class="field-box" name="email">
							</div>
						</div>
						<div class="form-group re-email">
							<div class="input-group">
								<div class="input-group-addon addon-customize"><i class="fas fa-envelope"></i></div>
								<input type="text" placeholder="Re-enter Email" class="field-box" name="re-email">
							</div>
						</div>
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon addon-customize"><i class="fas fa-key"></i></div>
								<input type="text" placeholder="Password" class="field-box" name="password">
							</div>
						</div>
						<div class="form-group re-password">
							<div class="input-group">
								<div class="input-group-addon addon-customize"><i class="fas fa-key"></i></div>
								<input type="text" placeholder="Re-enter Password" class="field-box" name="re-password">
							</div>
						</div>
						<button class="btn btn-primary btn-block button-signup">Sign in</button>
					</form>
					<a href="#" class="option-choice">Forgot your password?</a>
				</div>
			</div>			
		</div>
	</div>
	
<script src="/js/authenticate.js"></script>
</body>
</html>