<% include partials/header %>
<link rel="stylesheet" href="/stylesheet/partial.css">
<link rel="stylesheet" href="/stylesheet/Owl/owl.carousel.css">
<link rel="stylesheet" href="/stylesheet/Owl/owl.theme.default.css">
<link rel="stylesheet" href="/stylesheet/home-animation.css">
<link rel="stylesheet" href="/stylesheet/newhome.css">
<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
<script src="/js/Owl/owl.carousel.min.js"></script>

</head>
<body>
  <% include partials/navbar%>

  <div class="container-fluid">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="item active">
          <div class="carousel-content">
            <img src="\image\landing2.jpg" alt="Chania">
            <div class="container event-first">
              <div class="slogan_welcome fadeInDown_custom">Welcome to Kafka,</div>
              <div class="slogan fadeInLeft_custom">New, cheap books with quality service.</div>
              <div class="slogan fadeInLeft_custom">Kafka proud to be one of the best service in bringing knowledge closer to people's life.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid main">
    <div class="benefit_bg">
      <div class="container">
        <div class="row benefit-bar">
          <div class="col-md-4 arr_horizontal">
            <i class="fas fa-shopping-cart icon_benefit"></i>
            <div class="arr_vertical">
              <h3 class="ben_name">Free Shipping</h3>
              <p class="ben_des">Lorem ipsum dolor sit amet, consectetur adipiscing elit ante tempor lectus.</p>
            </div>
          </div>
          <div class="col-md-4 arr_horizontal">
            <i class="fas fa-gift icon_benefit"></i>
            <div class="arr_vertical">
              <h3 class="ben_name">Gift Wrapping</h3>
              <p class="ben_des">Lorem ipsum dolor sit amet, consectetur adipiscing elit ante tempor lectus.</p>
            </div>
          </div>
          <div class="col-md-4 arr_horizontal">
            <i class="fas fa-share-square icon_benefit"></i>
            <div class="arr_vertical">
              <h3 class="ben_name">30-Day Return</h3>
              <p class="ben_des">Lorem ipsum dolor sit amet, consectetur adipiscing elit ante tempor lectus.</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container-fluid cateBgcolor">
    <div class="container">
      <h2 class="cateTitle">Trending Categories |<span> <i class="fas fa-star topCate"></i> This Week</span> </h2>
      <div class="row rowCategory">
        <div class="col-md-5 cateBg perEducation">

        </div>
        <div class="col-md-4 cateBg childrenBook">

        </div>
        <div class="col-md-3 cateBg biography">

        </div>
      </div>
    </div>
  </div>

  <div class="recommend-bg">
    <div class="blurRecommendBg">
      <div class="container recommend">
        <div class="row content-align">
          <div class="col-md-4 recommend-content">
            <h4 class="recommended-title">Recommended Book</h4>
            <h1 class="recommended-name fadeInLeft_custom">Journey To the center of the Earth</h1>
            <h4 class="recommended-author fadeInLeft_custom">Jules Verne</h4>
            <p class="recommended-description fadeInLeft_custom">From advanced selectors to generated content to web fonts, and from gradients, shadows, and rounded corners to elegant animations, CSS3 hold a universe of creative possibilities. No one can better guide you through these galaxies than Dan Cederholm.</p>
            <button class="takeALook fadeInUp_recommend">Get one now</button>
          </div>
          <div class="col-md-4 content-align fadeInRight_recommend_b1">
            <img src="/image/book11.jpg" alt="" class="recommended-book">
          </div>
          <div class="col-md-4 content-align fadeInRight_recommend_b2">
            <img src="/image/back11.png" alt="" class="recommended-book">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container text-center feature-content">
    <h2 class="feature-title">Featured books</h2>
    <p class="feature-des">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do </p>
    <div class="owl-carousel owl-theme owl-width">
      <div class="row rowBook">
        <div class="col-sm-3">
          <div class="book-info">
            <div class="onBook">
              <div class="interact">
                <p class="rate"><i class="fas fa-star"></i> 4.5/5</p>
                <button class="btn_cart"><i class="fas fa-shopping-cart"></i></button>
                <button class="btn_wishList"><i class="far fa-heart"></i></button>
              </div>
              <img src="/image/book1.jpg" class="img-responsive feature-book-model" alt="Image">
            </div>
            <p id="book">Go Set A Watchman</p>
            <p id="author">Harper Lee</p>
            <p id="price">85.000đ <span id="sale">105.000</span> <span id="discount">-20%</span></p>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="book-info">
            <div class="onBook">
              <div class="interact">
                <p class="rate"><i class="fas fa-star"></i> 4.5/5</p>
                <button class="btn_cart"><i class="fas fa-shopping-cart"></i></button>
                <button class="btn_wishList"><i class="far fa-heart"></i></button>
              </div>
              <img src="/image/book2.jpg" class="img-responsive feature-book-model" alt="Image">
            </div>
            <p id="book">A Brave New World</p>
            <p id="author">Aldous Huxley</p>
            <p id="price">100.000đ</p>
          </div> 
        </div>

        <div class="col-sm-3">
          <div class="book-info">
            <div class="onBook">
              <div class="interact">
                <p class="rate"><i class="fas fa-star"></i> 4.5/5</p>
                <button class="btn_cart"><i class="fas fa-shopping-cart"></i></button>
                <button class="btn_wishList"><i class="far fa-heart"></i></button>
              </div>
              <img src="/image/book7.jpg" class="img-responsive feature-book-model" alt="Image">
            </div>
            <a href="#"><p id="book">The Murder On The Orient Express</p></a>
            <p id="author">Agatha Christie</p>
            <p id="price">85.000đ <span id="sale">105.000</span> <span id="discount">-25%</span></p>
          </div> 
        </div>

        <div class="col-sm-3">
          <div class="book-info">
            <div class="onBook">
              <div class="interact">
                <p class="rate"><i class="fas fa-star"></i> 4.5/5</p>
                <button class="btn_cart"><i class="fas fa-shopping-cart"></i></button>
                <button class="btn_wishList"><i class="far fa-heart"></i></button>
              </div>
              <img src="/image/book4.jpg" class="img-responsive feature-book-model" alt="Image">
            </div>
            <p id="book">Nineteen Eighty-Four</p></a>
            <p id="author">George Orwell</p>
            <p id="price">85.000đ <span id="sale">105.000</span></p>
          </div> 
        </div>              
      </div>

      <div class="row rowBook">
        <div class="col-sm-3">
          <div class="book-info">
            <div class="onBook">
              <div class="interact">
                <p class="rate"><i class="fas fa-star"></i> 4.5/5</p>
                <button class="btn_cart"><i class="fas fa-shopping-cart"></i></button>
                <button class="btn_wishList"><i class="far fa-heart"></i></button>
              </div>
              <img src="/image/book1.jpg" class="img-responsive feature-book-model" alt="Image">
            </div>
            <p id="book">Go Set A Watchman</p>
            <p id="author">Harper Lee</p>
            <p id="price">85.000đ <span id="sale">105.000</span> <span id="discount">-20%</span></p>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="book-info">
            <div class="onBook">
              <div class="interact">
                <p class="rate"><i class="fas fa-star"></i> 4.5/5</p>
                <button class="btn_cart"><i class="fas fa-shopping-cart"></i></button>
                <button class="btn_wishList"><i class="far fa-heart"></i></button>
              </div>
              <img src="/image/book2.jpg" class="img-responsive feature-book-model" alt="Image">
            </div>
            <p id="book">A Brave New World</p>
            <p id="author">Aldous Huxley</p>
            <p id="price">100.000đ</p>
          </div> 
        </div>

        <div class="col-sm-3">
          <div class="book-info">
            <div class="onBook">
              <div class="interact">
                <p class="rate"><i class="fas fa-star"></i> 4.5/5</p>
                <button class="btn_cart"><i class="fas fa-shopping-cart"></i></button>
                <button class="btn_wishList"><i class="far fa-heart"></i></button>
              </div>
              <img src="/image/book7.jpg" class="img-responsive feature-book-model" alt="Image">
            </div>
            <a href="#"><p id="book">The Murder On The Orient Express</p></a>
            <p id="author">Agatha Christie</p>
            <p id="price">85.000đ <span id="sale">105.000</span> <span id="discount">-25%</span></p>
          </div> 
        </div>

        <div class="col-sm-3">
          <div class="book-info">
            <div class="onBook">
              <div class="interact">
                <p class="rate"><i class="fas fa-star"></i> 4.5/5</p>
                <button class="btn_cart"><i class="fas fa-shopping-cart"></i></button>
                <button class="btn_wishList"><i class="far fa-heart"></i></button>
              </div>
              <img src="/image/book4.jpg" class="img-responsive feature-book-model" alt="Image">
            </div>
            <p id="book">Nineteen Eighty-Four</p></a>
            <p id="author">George Orwell</p>
            <p id="price">85.000đ <span id="sale">105.000</span></p>
          </div> 
        </div>              
      </div>

      <div class="row rowBook">
        <div class="col-sm-3">
          <div class="book-info">
            <div class="onBook">
              <div class="interact">
                <p class="rate"><i class="fas fa-star"></i> 4.5/5</p>
                <button class="btn_cart"><i class="fas fa-shopping-cart"></i></button>
                <button class="btn_wishList"><i class="far fa-heart"></i></button>
              </div>
              <img src="/image/book1.jpg" class="img-responsive feature-book-model" alt="Image">
            </div>
            <p id="book">Go Set A Watchman</p>
            <p id="author">Harper Lee</p>
            <p id="price">85.000đ <span id="sale">105.000</span> <span id="discount">-20%</span></p>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="book-info">
            <div class="onBook">
              <div class="interact">
                <p class="rate"><i class="fas fa-star"></i> 4.5/5</p>
                <button class="btn_cart"><i class="fas fa-shopping-cart"></i></button>
                <button class="btn_wishList"><i class="far fa-heart"></i></button>
              </div>
              <img src="/image/book2.jpg" class="img-responsive feature-book-model" alt="Image">
            </div>
            <p id="book">A Brave New World</p>
            <p id="author">Aldous Huxley</p>
            <p id="price">100.000đ</p>
          </div> 
        </div>

        <div class="col-sm-3">
          <div class="book-info">
            <div class="onBook">
              <div class="interact">
                <p class="rate"><i class="fas fa-star"></i> 4.5/5</p>
                <button class="btn_cart"><i class="fas fa-shopping-cart"></i></button>
                <button class="btn_wishList"><i class="far fa-heart"></i></button>
              </div>
              <img src="/image/book7.jpg" class="img-responsive feature-book-model" alt="Image">
            </div>
            <a href="#"><p id="book">The Murder On The Orient Express</p></a>
            <p id="author">Agatha Christie</p>
            <p id="price">85.000đ <span id="sale">105.000</span> <span id="discount">-25%</span></p>
          </div> 
        </div>

        <div class="col-sm-3">
          <div class="book-info">
            <div class="onBook">
              <div class="interact">
                <p class="rate"><i class="fas fa-star"></i> 4.5/5</p>
                <button class="btn_cart"><i class="fas fa-shopping-cart"></i></button>
                <button class="btn_wishList"><i class="far fa-heart"></i></button>
              </div>
              <img src="/image/book4.jpg" class="img-responsive feature-book-model" alt="Image">
            </div>
            <p id="book">Nineteen Eighty-Four</p></a>
            <p id="author">George Orwell</p>
            <p id="price">85.000đ <span id="sale">105.000</span></p>
          </div> 
        </div>              
      </div>
    </div>
  </div>

  <div class="subcribeBg">
    <div class="blurSubcribe">
      <div class="container">
        <h2 class="subcribeTitle">Stay in touch with our updates</h2>
        <p class="subcribeDes">Lorem ipsum dolor sit amet, consectetur adipiscing elit ante tempor lectus.</p>
        <hr class="hrSubcribe">
        <div class="subcribeInput">
          <input class="subcribeBox" type="text" placeholder="Enter Your Email Here">
          <button class="btnSubcribe">Sign Up</button>
        </div>
      </div>
    </div>
  </div>

  <div class="container text-center">
    <h2 class="author-title">Most popular authors</h2>
    <p class="popular-author-des">Lorem ipsum dolor sit amet, consectetur adipiscing elit ante tempor lectus.</p>

    <div class="row row-author">
      <div class="col-md-4">
        <div class="eachAuthor">
          <img src="/image/harris.jpeg" class="img-responsive authorImg">
          <div class="authorInfo">
            <h5 class="author-name">M.G. Harris</h5>
            <p class="authorPopular">
              <span><i class="fas fa-users"></i> 40</span> 
              <span><i class="fas fa-book"></i> 10</span>
            </p>
            <button class="viewAuthor">View more</button>
          </div>
        </div>
        <div class="eachAuthor">
          <img src="/image/stephen.jpg" class="img-responsive authorImg">
          <div class="authorInfo">
            <h5 class="author-name">Stephen King</h5>
            <p class="authorPopular">
              <span><i class="fas fa-users"></i> 40</span> 
              <span><i class="fas fa-book"></i> 10</span>
            </p>
            <button class="viewAuthor">View more</button>  
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="eachAuthor">
          <img src="/image/rowling.jpg" class="img-responsive authorImg">
          <div class="authorInfo">
            <h5 class="author-name">J.K. Rowling</h5>
            <p class="authorPopular">
              <span><i class="fas fa-users"></i> 40</span> 
              <span><i class="fas fa-book"></i> 10</span>
            </p>
            <button class="viewAuthor">View more</button>  
          </div>
        </div>
        <div class="eachAuthor">
          <img src="/image/neil.jpg" class="img-responsive authorImg">
          <div class="authorInfo">
            <h5 class="author-name">Neil Gaiman</h5>
            <p class="authorPopular">
              <span><i class="fas fa-users"></i> 40</span> 
              <span><i class="fas fa-book"></i> 10</span>
            </p>
            <button class="viewAuthor">View more</button>  
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="eachAuthor">
          <img src="/image/suzanne.jpg" class="img-responsive authorImg">
          <div class="authorInfo">
            <h5 class="author-name">Suzanne Collins</h5>
            <p class="authorPopular">
              <span><i class="fas fa-users"></i> 40</span> 
              <span><i class="fas fa-book"></i> 10</span>
            </p>
            <button class="viewAuthor">View more</button>  
          </div>
        </div>
        <div class="eachAuthor">
          <img src="/image/thomas.jpg" class="img-responsive authorImg">
          <div class="authorInfo">
            <h5 class="author-name">Thomas Harris</h5>
            <p class="authorPopular">
              <span><i class="fas fa-users"></i> 40</span> 
              <span><i class="fas fa-book"></i> 10</span>
            </p>
            <button class="viewAuthor">View more</button>  
          </div>
        </div>
      </div>   
    </div>
    <button class="btnDiscover">View more</button>
  </div>

  <div class="eventBg">
    <div class="container">
      <div class="row rowEvent">  
        <div class="col-md-9">
          <div class="verticalAlign">
            <h4 class="event-title">Ongoing & Upcoming events</h4>
            <h1 class="eventName">Happy international children's day</h1>
            <h3 class="eventDes">Sale <span class="highlight">50%</span> off for all book orders in thriller and horror.</h3>
            <div class="btnCheck">
              <button class="checkNow">Check now</button>
              <button class="viewAll">View all events</button>
            </div>
          </div>
        </div>

        <div class="col-md-3 no-padding">
          <div class="eve eve-item ongoing"></div>
          <div class="eve eve-item-2"></div>
          <div class="eve eve-item-3"></div>
          <div class="eve eve-item-4"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="container text-center">
    <h2 class="daily-title">Daily deals</h2>
    <p class="daily-des">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do </p>
    <div class="row rowDaily">
      <div class="col-sm-3">
        <div class="book-info">
          <div class="onBook">
            <div class="interact">
              <p class="rate"><i class="fas fa-star"></i> 4.5/5</p>
              <button class="btn_cart"><i class="fas fa-shopping-cart"></i></button>
              <button class="btn_wishList"><i class="far fa-heart"></i></button>
            </div>
            <img src="/image/book5.jpg" class="img-responsive feature-book-model" alt="Image">
          </div>
          <p id="book">Go Set A Watchman</p>
          <p id="author">Harper Lee</p>
          <p id="price">85.000đ <span id="sale">105.000</span> <span id="discount">-20%</span></p>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="book-info">
          <div class="onBook">
            <div class="interact">
              <p class="rate"><i class="fas fa-star"></i> 4.5/5</p>
              <button class="btn_cart"><i class="fas fa-shopping-cart"></i></button>
              <button class="btn_wishList"><i class="far fa-heart"></i></button>
            </div>
            <img src="/image/book6.jpg" class="img-responsive feature-book-model" alt="Image">
          </div>
          <p id="book">A Brave New World</p>
          <p id="author">Aldous Huxley</p>
          <p id="price">100.000đ</p>
        </div> 
      </div>

      <div class="col-sm-3">
        <div class="book-info">
          <div class="onBook">
            <div class="interact">
              <p class="rate"><i class="fas fa-star"></i> 4.5/5</p>
              <button class="btn_cart"><i class="fas fa-shopping-cart"></i></button>
              <button class="btn_wishList"><i class="far fa-heart"></i></button>
            </div>
            <img src="/image/book9.jpg" class="img-responsive feature-book-model" alt="Image">
          </div>
          <a href="#"><p id="book">The Murder On The Orient Express</p></a>
          <p id="author">Agatha Christie</p>
          <p id="price">85.000đ <span id="sale">105.000</span> <span id="discount">-25%</span></p>
        </div> 
      </div>

      <div class="col-sm-3">
        <div class="book-info">
          <div class="onBook">
            <div class="interact">
              <p class="rate"><i class="fas fa-star"></i> 4.5/5</p>
              <button class="btn_cart"><i class="fas fa-shopping-cart"></i></button>
              <button class="btn_wishList"><i class="far fa-heart"></i></button>
            </div>
            <img src="/image/book8.jpg" class="img-responsive feature-book-model" alt="Image">
          </div>
          <p id="book">Nineteen Eighty-Four</p></a>
          <p id="author">George Orwell</p>
          <p id="price">85.000đ <span id="sale">105.000</span></p>
        </div>    
      </div>
    </div>
  </div>

  <div class="banner">
    <div class="container">
      <div class="layout">
        <h2 class="advertise">Get <span class="banPart">-30%</span> purchase on order over $100.00</h2>
        <button class="btnBanner">More Info</button>        
      </div>
    </div>
  </div>

  <div class="blogBg">
    <div class="bg">
      <div class="container">
        <h1 class="blog-title">From our blogs</h1>
        <hr class="hrBlog">
        <div class="row rowPost">
          <div class="col-md-4">
            <div class="postBlur">
              <h4 class="time"><i class="far fa-calendar-alt icon-space"></i> August 5, 2018</h4>
              <h3 class="blogPost">Things to know about writing the first chapter of your novel</h3>
              <p class="blogContent">A reader walks into a bookstore. Spies an interesting book. What does she do? Picks it up. Flips to the first chapter before anything else. At least, that’s what I do.</p>
              <hr class="hrPost">
              <div class="postInteract">
                <h4 class="poster">Kyle Nguyen</h4>
                <h4 class="viewerLike"><i class="far fa-eye"></i> 102</h4>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="postBlur">
              <h4 class="time"><i class="far fa-calendar-alt icon-space"></i> August 5, 2018</h4>
              <h3 class="blogPost">Self-care for writers: some tips from bestsellers author!</h3>
              <p class="blogContent">Back when I was in elementary school, we used to do that thing on Valentine’s Day where you wrote little crummy cardboardy valentines (often from Your ...</p>
              <hr class="hrPost">
              <div class="postInteract">
                <h4 class="poster">Minh Quang</h4>
                <h4 class="viewerLike"><i class="far fa-eye"></i> 90</h4>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="postBlur">
              <h4 class="time"><i class="far fa-calendar-alt icon-space"></i> August 5, 2018</h4>
              <h3 class="blogPost">Begin reading Terry Roberts’ critically new novel</h3>
              <p class="blogContent">Gramercy Park, smiling at the sudden softening of city noise. In the past five years, as automobile and truck traffic replaced the rhythmic clip-clop of hooves and ...</p>
              <hr class="hrPost">
              <div class="postInteract">
                <h4 class="poster">Thu Thao</h4>
                <h4 class="viewerLike"><i class="far fa-eye"></i> 80</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% include partials/footer %>

  <script src="/js/responNav.js"></script>
</body>
</html>
