<% include partials/header %>
<link rel="stylesheet" href="/stylesheet/partials/partial.css">
<link rel="stylesheet" type="text/css" href="/stylesheet/oops.css">
<link rel="stylesheet" type="text/css" href="/stylesheet/navbar-color.css">
</head>
<body>
	<% include partials/navbar%>

	<div class="container">
		<div class="content">
			<h1>Oops! <span>Something went wrong...</span></h1>
			<h3>The page you're looking for is nowhere to be found at the moment. <br>Sorry for this inconvenience.</h3>
			<a href="/"><button>Back to the homepage</button></a>
			<h4>Error code: 404</h4>			
		</div>
	</div>

	<div class="footer-content">
		<% include partials/footer %>
	</div>
</body>
</html>