<%include partials/header%>
<link rel="stylesheet" href="../../bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
<link rel="stylesheet"
href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
<link rel="stylesheet" type="text/css" href="../../stylesheet/app/book.css">
<link rel="stylesheet" href="../../plugins/iCheck/all.css">
</head>
<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">

		<%include partials/main-header%>

		<%include partials/main-sidebar%>

		<section class="content-wrapper displayBound">
			<div class="overlay hide" id="overlay">
				<div class="overlay-display">
					<div class="overlay-content">
						<h2 class="add-update">Update book's information</h2>
						<div class="input-content">
							<div class="row">
								<div class="col-md-4 text-center addBorder">
									<h4 class="mainDes">Book Image</h4>
									<p class="note">This is the main image of this book</p>
									<img src="https://res.cloudinary.com/kyle1998/image/upload/v1533973343/book15.jpg" class="img-responsive mainImg" id="image">
									<button><i class="fas fa-file-image"></i> Change</button>
									<h4 class="mainDes upperSpace">More Image</h4>
									<p class="note">This is these additional image of this book</p>
									<div class="row rowImg">
										<div class="col-md-4">
											<div class="addImg">
												<i class="fas fa-plus-circle"></i>
											</div>
										</div>
										<div class="col-md-4">
											<div class="addImg">
												<i class="fas fa-plus-circle"></i>
											</div>
										</div>
										<div class="col-md-4">
											<div class="addImg">
												<i class="fas fa-plus-circle"></i>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-8">
									<h4 class="bookDes">Book Information</h4>
									<p class="note">This is the main information of the book</p>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label>ISBN</label>
												<input type="text" name="" placeholder="Enter book ISBN here..." class="form-control" id="isbn">	
											</div>
											<div class="form-group">
												<label>Book Name</label>
												<input type="text" name="" placeholder="Enter book name here..." class="form-control" id="name">	
											</div>
											<div class="form-group">
												<label>Author</label>
												<select class="form-control" id="author">
												</select>
											</div>
											<div class="form-group">
												<label>Genre</label>
												<div class="genreList" id="genres">
												</div>
												<div class="input-group">
													<div class="input-group-btn">
														<button class="btn pushGenre"><i class="fas fa-angle-double-up"></i>
														</div>
														<select class="form-control select2" style="width: 100%;">
															<option selected="selected">Option 1</option>
															<option>Option 2</option>
															<option>Option 3</option>
															<option>Option 4</option>
														</select>
													</div>
												</div>
												<div class="row">
													<div class="col-xs-6">
														<label>Price</label>
														<div class="input-group">
															<span class="input-group-addon">
																<i class="fa fa-dollar"></i>
															</span>
															<input type="text" placeholder="Enter the price here..." class="form-control">
														</div>
													</div>
													<div class="col-xs-6">
														<label>Discount</label>
														<div class="input-group">
															<span class="input-group-addon">
																<i class="fas fa-percentage"></i>
															</span>
															<input type="text" placeholder="Enter the discount here..." class="form-control">
														</div>
													</div>
												</div>
												<div class="form-group deliveryType">
													<label>Delivery</label>
													<div class="input-group">
														<select class="form-control">
															<i class="fas fa-truck"></i>
															<option> Normal Delivery</option>
															<option> Fast Delivery</option>
														</select>
														<div class="input-group-addon">
															<i class="fas fa-shipping-fast"></i>
														</div>
													</div>
												</div>
												<div class="form-group deliveryType">
													<label>Supplier</label>
													<div class="input-group">
														<select class="form-control">
															<i class="fas fa-truck"></i>
															<option> Normal Delivery</option>
															<option> Fast Delivery</option>
														</select>
														<div class="input-group-addon">
															<i class="fas fa-box-open"></i>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-xs-6">
														<div class="form-group">
															<label>Publisher</label>
															<div class="input-group">
																<select class="form-control">
																	<option>HarperCollins</option>
																	<option>Fast Delivery</option>
																</select>
																<div class="input-group-addon">
																	<i class="fas fa-globe-asia"></i>
																</div>
															</div>
														</div>
													</div>
													<div class="col-xs-6">
														<label>Publish Date</label>
														<div class="input-group">
															<input type="text" class="form-control" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask placeholder="dd/mm/yyyy">
															<span class="input-group-addon">
																<i class="far fa-calendar-alt"></i>
															</span>
														</div>
													</div>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label>Description</label>
													<textarea class="form-control" rows="22" placeholder="Enter description here..."></textarea>	
												</div>
												<div class="row">
													<div class="col-xs-6">
														<div class="form-group">
															<label>Cover</label>
															<div class="form-group">
																<select class="form-control">
																	<option>Hardcover</option>
																	<option>Paperpack</option>
																</select>
															</div>
														</div>
													</div>
													<div class="col-xs-6">
														<div class="form-group">
															<label>Amount</label>
															<input type="text" placeholder="Enter amount..." class="form-control">
														</div>
													</div>
												</div>
												<div class="form-group">
													<label>Language</label>
													<input type="text" name="" placeholder="Enter book language here..." class="form-control">	
												</div>
											</div>
										</div>

									</div>
								</div>
							</div>
							<div class="confirm-content text-right">
								<button class="save">Save changes</button>
								<button class="cancel" id="cancel">Cancel</button>
							</div>
						</div>
					</div>
				</div>	

				<section class="content-header">
					<h1>Manage Books</h1>
					<ol class="breadcrumb">
						<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
						<li><a href="#">Tables</a></li>
						<li class="active">Data tables</li>
					</ol>
				</section>

				<section class="content">
					<div class="row">
						<div class="col-xs-12">
							<div class="box">
								<div class="box-header">
									<h3 class="box-title">Hover Data Table</h3>
								</div>
								<div class="box-body table-responsive">
									<table id="example2" class="table table-bordered table-hover">
										<thead>
											<tr>
												<th>Image</th>
												<th>Name</th>
												<th>Genre</th>
												<th>Author</th>
												<th>Price</th>
												<th>Discount</th>
												<th>Delivery</th>
												<th>Option</th>
											</tr>
										</thead>
										<tbody>
										</tbody>
										<tfoot>
											<tr>
												<th>Image</th>
												<th>Name</th>
												<th>Genre</th>
												<th>Author</th>
												<th>Price</th>
												<th>Discount</th>
												<th>Delivery</th>
												<th>Option</th>
											</tr>
										</tfoot>
									</table>
								</div>
							</div>	
						</div>
					</div>
				</section>
			</section>

			<%include partials/main-footer%>

			<%include partials/control-sidebar%>
		</div>

		<%include partials/app-script%>
		<script src="../../bower_components/select2/dist/js/select2.full.min.js"></script>
		<script src="../../bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
		<script src="../../bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
		<script src="../../plugins/iCheck/icheck.min.js"></script>
		<script src="../../plugins/input-mask/jquery.inputmask.js"></script>
		<script src="../../plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
		<script src="../../plugins/input-mask/jquery.inputmask.extensions.js"></script>
		<script type="text/javascript" src="/js/app/book.js"></script>
	</body>
