<%include partials/header%>
	<link rel="stylesheet" href="../../bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
	<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
	<link rel="stylesheet" type="text/css" href="/stylesheet/app/customer-address.css">
	<link rel="stylesheet" type="text/css" href="../../stylesheet/app/snackbar.css">
</head>
<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">

		<%include partials/main-header%>
		<%include partials/main-sidebar%>

		<section class="content-wrapper displayBound">

			<div class="overlay hide" id="overlay">
				<div class="overlay-display">
					<div class="overlay-content" id="overlayContent">
						<h2>Update address's information</h2>
						<div class="input-content">
							<div class="row">
								<div class="col-md-12">
									<h4 class="bookDes">Address Information</h4>
									<p class="note">This is all the address of the customer</p>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label>Receiver</label>
												<input type="text" name="receiver" placeholder="Enter receiver's name here..." class="form-control enterAddress" id="receiver">	
											</div>
											<div class="form-group">
												<label>City</label>
												<input type="text" name="city" placeholder="Enter the city here..." class="form-control enterAddress" id="city">	
											</div>
											<div class="form-group">
												<label>Phone</label>
												<input type="number" name="phone" placeholder="Enter the phone number here..." class="form-control enterAddress" id="phone">	
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label>Address</label>
												<input type="text" name="address" placeholder="Enter the address here..." class="form-control enterAddress" id="address">	
											</div>
											<div class="form-group">
												<label>Country</label>
												<input type="text" name="country" placeholder="Enter the country here..." class="form-control enterAddress" id="country">	
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="confirm-content text-right">
							<button class="save" id="save">Save changes</button>
							<button class="cancel" id="cancel">Cancel</button>
						</div>
					</div>
				</div>
			</div>

			<section class="content-header">
				<h1>Manage Addresses</h1>
				<ol class="breadcrumb">
					<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
					<li><a href="#">Tables</a></li>
					<li class="active">Data tables</li>
				</ol>
			</section>

			<section class="content">
				<div class="row">
					<div class="col-xs-12">
						<div class="box">
							<div class="box-header">
								<div class="addon-header">
									<h3 class="box-title">Address Data Tables </h3>
									<div class="addNew" id="addNew"><i class="fas fa-plus-circle"></i> <span>New...</span></div>
								</div> 
							</div>
							<div class="box-body table-responsive">
								<table id="addressTable" class="table table-bordered table-hover">
									<thead>
										<tr>
											<th>Receiver</th>
											<th>Address</th>
											<th>City</th>
											<th>Country</th>
											<th>Phone</th>
											<th>Option</th>
										</tr>
									</thead>
									<tbody>
									</tbody>
									<tfoot>
										<tr>
											<th>Receiver</th>
											<th>Address</th>
											<th>City</th>
											<th>Country</th>
											<th>phone</th>
											<th>Option</th>
										</tr>
									</tfoot>
								</table>
							</div>
						</div>	
					</div>
				</div>
			</section>
			
		</section>

		<%include partials/snackbar%>	
		<%include partials/main-footer%>
		<%include partials/control-sidebar%>
	</div>

	<%include partials/app-script%>
	<script src="../../bower_components/select2/dist/js/select2.full.min.js"></script>
	<script src="../../bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
	<script src="../../bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
	<script src="../../plugins/iCheck/icheck.min.js"></script>
	<script src="../../plugins/input-mask/jquery.inputmask.js"></script>
	<script src="../../plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
	<script src="../../plugins/input-mask/jquery.inputmask.extensions.js"></script>
	<script type="text/javascript" src="/js/app/snackbar.js"></script>
	<script type="text/javascript" src="/js/app/customer-address.js"></script>
</body>